<h1>Results</h1>




<%= collection_select(:user, :category, @dropdowncategories, :category_size_id, :name, {:selected => params[:id]}) %>



<!-- HOW DO YOU HANDLE THE CHANGE EVENT FROM COLLECTION SELECT USING JQUERY -->


<div id="container">


<% if @shopresult  %>

<p>
<%= @shopresult['products'].each do |x|  %>
<p>

<%= x['clickUrl'] %>
<br/>
<%= image_tag x['image']['sizes']['IPhone']['url']  %>
</p>

<% end %>
<% end %>






// window.onload=function()




  // $("#category_id").change(function(event) {
  // 	console.log(event);
  //   // var state = $('select#category_id :selected').val();
  //   // if(state == "") state="0";
  //   // jQuery.getJSON('/user/results/' + state, function(data){
  //   //     $("#category_textbox").val(data.message);
  //   // })
  //   return false;
  // });





<%# @results['products'].each do |x| %>









</div>