
.container{
	width: 1000px;
	margin: 10px auto;
	/*background-color: red;*/
}

.collection_div{
	width: 490px;
	margin: 10px;
	/*background-color: gray;*/
}

.inline {
	display: inline !important;
}

.results_container{
	width: 900px;
	margin: 10px auto;
	/*background-color: gray;*/
	
}

.results_img{
	height: 300px;
	width: 250px;
	border: 1px solid gray;
}

